/* Coolors Exported Palette - coolors.co/403f4c-f75c03-1b2432-ffffff-054a91 */

/* RGB */
$mid: rgba(64, 63, 76, 1);
$primary: rgba(255, 204, 0, 1);
$dark: rgba(27, 36, 50, 1);
// $white: rgba(255, 251, 250, 1);
$light: whitesmoke;
$secondary: rgba(102, 206, 214, 1);
